<section class="hero is-fullheight">

  <div class="hero-body has-text-centered">


    <div class="login">
      <div class="field">
        <% if (err != undefined) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Opss....! </strong> <%= err %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <% } else if (info != undefined) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Até mais </strong> <%= info %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>



          <% } %>

        </div>




        <img src="https://www.salesianoaracaju.com/Start/img/favicon.ico" alt="" srcset="">
        <form method="post" action="/admin/login">
          <div class="field">
            <div class="control">
              <input class="input is-medium is-rounded" type="text" placeholder="Digite o seu usuario" name="userLogin" autocomplete="username" required />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-medium is-rounded" name="userPassword" type="password" placeholder="**********" autocomplete="current-password" required />
            </div>
          </div>
          <br />
          <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
            Login
          </button>
        </form>
        <br>

      </div>
    </div>
</section>