<div class="container">
  <h2 class="text-center">Você talvez tenha errado o caminho</h2>
  <div class="content">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Olá!</strong> Essa é uma area reservada para administradores do <strong>sistema</strong><br>
      Clique <a href="/">aqui</a> para voltar!
      <a href="/" type="button" class="btn-close" aria-label="Close"></a>
    </div>
  </div>
</div>