<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a id="navlogo" class="navbar-item img" href="https://bulma.io">

      </a>

      <a role=" button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/admin/dashboard" class="navbar-item">
          Dashboard
        </a>

        <a href="/exalunos/form" class="navbar-item">
          Formulario de Cadastro
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Controle de Acesso
            </a>
            <a class="navbar-item">
              Contato
            </a>
            <hr class="navbar-divider">
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">

          <form action="/admin/logout" method="post">
            <button type="submit" style="text-decoration: none;" class="button is-rounded is-danger">
              <strong>Sair</strong>
            </button>
          </form>

        </div>
      </div>
    </div>
  </nav>
</header>
<style>
  #navlogo {
    margin-left: 20px;
    background: url("https://yt3.googleusercontent.com/ytc/AMLnZu-fw1izK2JiJ4edwuBSglMltwGKM3RdrxpfO_ypXg=s900-c-k-c0x00ffffff-no-rj") no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
  }
</style>