<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Ex Alunos Colégio Salesiano Nossa Senhora Auxiliadora</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
  <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202208161652" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css\hover-min.css" />



</head>

<body>
  <section class="section">

    <div class="container heading">
      <figure class="image is-fullwidth">
        <img style="border-radius: 5px;" src="https://salesiano-ba.com.br/wp-content/uploads/2016/09/saleisano-nazar%C3%A9-fachada.jpg" id="salesianoFachada" class="hvr-shadow" />
        <hr />
      </figure>
      <br />
    </div>
    <!-- ========== EJS BODY ========== -->
    <%- body %>
    <!-- ========== EJS BODY ========== -->



  </section>

  <script src="/src/cep.js" defer></script>
  <script src="/src/haveGuest.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>

</html>