<!--https://animate.style-->

<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Ex Alunos Colégio Salesiano Nossa Senhora Auxiliadora</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202208161652" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/css\hover-min.css" />

    <script src="/src/cep.js"></script>

    <script src="/src/scriptFront.js"></script>


</head>

<body>
    <section class="section">

        <div class="container heading">
            <figure class="image is-fullwidth">
                <img style="border-radius: 5px;"
                    src="https://salesiano-ba.com.br/wp-content/uploads/2016/09/saleisano-nazar%C3%A9-fachada.jpg"
                    id="salesianoFachada" class="hvr-shadow" />
                <hr />
            </figure><br />
        </div>




        {{#if messages.erro}}
        <div class="container">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Ops.. Algo deu errado com a sua solicitação!</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{messages.erro}}
                </div>
            </article>
        </div>
        {{/if}}



        {{{body}}}






    </section>


</body>

</html>