<div class="container">
   <h1 class="title">Página para login</h1>
   <a href="/exalunos/addform">É um Ex aluno e deseja preencher o formulario ?</a><br>
   <a href="/admin/login">Faz parte da equipe ?</a>
</div>